@import url('https://fonts.cdnfonts.com/css/cinzel');

body {    
    margin: 0px;
    font-family: 'Inter';  
    zoom: 1.1; /* Because the Developer Accidentally made the website with 110% zoom on his browser */
}

/* Start of Right Side */
.container {
    display: flex;

    height: 100vh;
}

.left-side {
    flex: 1;
    background-color: #fff;
}

.right-side {
    flex: 1;
    background-color: #f0f0f0;
}

.image-container1 {
    position: relative;
}

.image-container1 .RimgA1 {
    zoom: 1.1;
    margin: 150px 0px 0px 70px;
}   

.text-container {
    position: absolute;
    top: 80%;
    right: 25%;
    text-align: right;
    display: flex;
    flex-direction: row;
    
}

.text-container p {
    margin: 0;
    margin-left: 250px;
    white-space: nowrap;
}

.horizontal-line1 {
    border: none;
    border-top: 1px solid grey; /* Set the line color and style */
    margin: 0px 215px 25px 75px; /* Adjust the margin as needed */
}

.horizontal-line2 {
    border: none;
    border-top: 1px solid grey; /* Set the line color and style */
    margin: 25px 215px 0px 75px; /* Adjust the margin as needed */
}

.cost {
    margin: 50px 0px 0px 0px;
}

.text-container1 {
    margin: 0px 0px 0px -335px;
    display: flex;
    flex-direction: row;
    
}

.text-container1 p {
    margin-left: 410px;
    white-space: nowrap;
}

.text-container1 .total {
    line-height: 15px;
    font-weight: bold;
    font-size: 20px;
}

.text-container2 {
    margin: 0px 0px 0px -255px;
    display: flex;
    flex-direction: row;           
}

.text-container2 p {
    margin-left: 330px;
}
/* End of Right Side */

/* Start of Left Side */
.LimgA1 {
    margin: 250px 0px 0px 230vh;
    zoom: 0.2;
}

.content-container {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 215px;
}

.text1 {
    opacity: 70%;
    margin: 0;
    margin-right: 10px; /* Adjust the spacing between text and image as needed */
}

.active-text {
    margin: 0;
    margin-right: 10px; /* Adjust the spacing between text and image as needed */
}
.image {
    margin-right: 10px; /* Adjust the spacing between images as needed */
}

.contact {
    margin: 30px 0px 0px 215px;
    font-size: 22px;
}        

.tickbox-container {
    display: flex;
    align-items: center;
    margin: 25px 0px 0px 218px;
}

.tickbox {
    opacity: 50%;
    transform: scale(2); /* Adjust the scale factor as needed */
    margin-right: 10px; /* Adjust the spacing between the tickbox and the label as needed */
}

.ship {
    margin: 60px 0px 0px 215px;
    font-size: 22px;
}

.text-area1::placeholder, .text-area::placeholder {
    font-family: 'Inter';   ; /* Change the font family as desired */
    font-size: 14px; /* Change the font size as desired */
    font-weight: normal; /* Change the font weight as desired */
    color: #999; /* Change the placeholder text color as desired */
}

.text-area-container {
    margin: 10px 0px 0px 215px;
    width: 550px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    border: 2px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corner radius */
    padding: 10px; /* Space inside the rectangle */
}

.text-area {
    width: 100%;
    height: 100%;
    resize: none; /* Prevent resizing of the textarea */
    border: none; /* Remove textarea border */
    background-color: transparent; /* Transparent background */
}

.wrap .text-area1::placeholder {
    color: black;
}

.wrap, .wrap1 {
    display: flex;
    flex: 1;
    margin-right: -350px;
}

.text-area-container1 {
    margin: 10px -204px 0px 215px;
    width: 258px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    border: 2px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corner radius */
    padding: 10px; /* Space inside the rectangle */
}

.text-area1 {
    width: 100%;
    height: 100%;
    resize: none; /* Prevent resizing of the textarea */
    border: none; /* Remove textarea border */
    background-color: transparent; /* Transparent background */
}

.content-container1{
    display: flex;
    align-items: center;
    margin: 35px 0px 0px 215px;
}

.checkout {
    margin: -25px 0px 50px 505px;
}

.checkout .text{
    margin: auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 5px;
}
/* End of Left Side */
a:link{
    text-decoration: none!important;
  }